 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Irving is passionate for technology, especially hardware and software development. He has a degree as a Electronic engineer, but for the last four years has found a real passion in software development. He has worked on many projects around the world, this allowed him to meet other great developers and learn from them. In the last years Irving has been working as a mobile developer, he has experience in almost all mobile platforms, mostly focusing on Android and BlackBerry 10.</p>
                </div>
                <div class="col-lg-4">
                    <p>Irving is currently improving his Web Development skills, currently he is learning and working on backend technologies, he has experience with NodeJS and the most popular Javascript's frameworks. On his spare time, he is working on different technologies such as Djando (Python), Ruby on Rails (Ruby), unit test, distributed version control systems, basics of frontend development and even UX and usability principles. Irving is devoted to to get more experience with electronics platforms such as Arduino, Raspbery Pi, Beagleabone, PCduino and much more. </p>
                </div>
            </div>
        </div>
    </section>